$primaryBlue: #1f4174;
$primaryBrown: #4b291d;
$primaryBlack: #0a0a0a;
$primaryPurple: #31184c;
$primaryGreen: #324d3c;
$bgBlue: url("./images/bg-blue.jpg");
$bgBrown: url("./images/bg-brown.jpg");
$bgBlack: url("./images/bg-black.jpg");
$bgPurple: url("./images/bg-purple.jpg");
$bgGreen: url("./images/bg-green.jpg");

$primary: $primaryBlack;
$secondary: #f2f4f6;
$bg: $bgBlack;